.wrapper {
  display : inline-block;
  width : 100%;
  
}

.navContainer {
  width : 250px;
  height : 950px;
  background-color : yellow;
  padding : 0 0 0 5px;
  float:left;
  border-right : 2px solid black;
  margin-right: 10px;
}

#sideBar {
  list-style :none;
  margin-left : 0;
  padding-left : 0;
}

#sideBar li {
    margin-bottom : 40px;
    padding-left : 5px;
    font-size : 20px;
}

#sideBar a{
  text-decoration : none;
  font-size : 20px;
  color : black;
  
}

#sideBar li:hover {
  background-color:white;
}

.dropbtn {
  font-size: 20px;
  border : none;
  background-color: yellow;
}

.dropdown-content {
  display : none;
}

.dropdown-content a{
  display : block;
  padding : 16px;
}

.dropdown-content a:hover {
  background-color:gray;
}

#dropdown:hover .dropdown-content {
  display : block;
}


